
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html { 
   -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.7;
  font-family: "LexendDeca";
  font-weight: 400;
  font-size: 0.9rem;
  color: hsla(0, 0%, 100%, 0.6);
  margin: 0;
  padding: 40px 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

h2 {
    font-family: "BigShoulders";
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-size: 2.35rem;
    margin: 40px 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
 :target {
  scroll-margin-block: 5ex;
} 

/* Ensure row set to flex */
.row {
    display: flex; 
    /* gap: 20px; */
    justify-content: center;
  }

/* Create three equal columns */
.column {
    flex: 0 1 290px;
    padding: 45px;
    justify-content: center;
    min-width: 250px;
  }
    
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  @font-face{ 
    src: url("assets/fonts/LexendDeca/LexendDeca-VariableFont_wght.ttf");
    font-family: LexendDeca;
}

@font-face{ 
    src: url("assets/fonts/BigShouldersDisplay/BigShouldersDisplay-VariableFont_wght.ttf");
    font-family: BigShoulders;
}

button {
    margin-top: 100px;
}

#column-sedan {
    background-color: hsl(31, 77%, 52%);
}

#column-suv {
    background-color: hsl(184, 100%, 22%);
}

#column-luxury {
    background-color: hsl(179, 100%, 13%);
}


  .attribution { font-size: 11px; text-align: center; color: black}
  .attribution a { color: hsl(228, 45%, 44%); }
